PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE usuario (
	id INTEGER NOT NULL, 
	usuario VARCHAR(50) NOT NULL, 
	password VARCHAR(100) NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (usuario)
);
INSERT INTO usuario VALUES(1,'david','1234');
CREATE TABLE grupo_muscular (
	id INTEGER NOT NULL, 
	nombre VARCHAR(50) NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (nombre)
);
INSERT INTO grupo_muscular VALUES(1,'pecho');
INSERT INTO grupo_muscular VALUES(2,'biceps');
INSERT INTO grupo_muscular VALUES(3,'triceps');
CREATE TABLE ejercicio (
	id INTEGER NOT NULL, 
	nombre VARCHAR(100) NOT NULL, 
	archivo VARCHAR(100), 
	repeticiones VARCHAR(50), 
	grupo_id INTEGER NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(grupo_id) REFERENCES grupo_muscular (id)
);
INSERT INTO ejercicio VALUES(1,'Press banca','press_banca.png','',1);
INSERT INTO ejercicio VALUES(2,'Press inclinado','press_inclinado.png','',1);
INSERT INTO ejercicio VALUES(3,'Aperturas mancuernas','aperturas_mancuernas.png','',1);
CREATE TABLE rutina (
	id INTEGER NOT NULL, 
	nombre VARCHAR(100) NOT NULL, 
	dia_semana VARCHAR(20) NOT NULL, 
	usuario_id INTEGER NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(usuario_id) REFERENCES usuario (id)
);
INSERT INTO rutina VALUES(2,'Rutina de Brazo, Tricep y Espalda','martes',1);
INSERT INTO rutina VALUES(3,'Rutina de Pecho, Hombro y Antebrazo','lunes',1);
INSERT INTO rutina VALUES(4,'Rutina de Pierna Completa','mi├®rcoles',1);
CREATE TABLE progreso (
	id INTEGER NOT NULL, 
	fecha DATE NOT NULL, 
	peso_levantado INTEGER NOT NULL, 
	usuario_id INTEGER NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(usuario_id) REFERENCES usuario (id)
);
INSERT INTO progreso VALUES(1,'2026-05-24',80,1);
CREATE TABLE ejercicio_rutina (
	id INTEGER NOT NULL, 
	rutina_id INTEGER NOT NULL, 
	ejercicio_id INTEGER NOT NULL, series INTEGER DEFAULT '3' NOT NULL, repeticiones INTEGER DEFAULT '10' NOT NULL, descanso INTEGER DEFAULT '60' NOT NULL, calentamiento BOOLEAN DEFAULT '0' NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(rutina_id) REFERENCES rutina (id), 
	FOREIGN KEY(ejercicio_id) REFERENCES ejercicio (id)
);
INSERT INTO ejercicio_rutina VALUES(7,3,1,4,10,60,0);
INSERT INTO ejercicio_rutina VALUES(8,3,2,4,10,60,0);
INSERT INTO ejercicio_rutina VALUES(9,3,3,4,12,60,0);
CREATE TABLE alembic_version (
	version_num VARCHAR(32) NOT NULL, 
	CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);
INSERT INTO alembic_version VALUES('c5173c5d38f2');
COMMIT;
